pattern_viewport:
  x_min: -8e-1
  y_min: -8e-1
  x_max: 8e-1
  y_max: 8e-1
coordinate_threshold:
  x_min: -4e1
  x_max: 4e1
  y_min: -6e1
  y_max: 2e1
eyedropper:
  left: 0
  right: 170
  top: 30
  bottom: 200
formula:
  type: rosette
  terms:
    - multiplier:
        real: -1.0
        imaginary: 2e-2
      power_n: 3
      power_m: 0
      coefficient_relationships:
        - -M-N
        - "+M+NF(N+M)"
